body{
    margin: 0;
    font-family: Arial;
}
*{
    box-sizing: border-box;
}
header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
}